<html>

<head>
    <meta charset="UTF-8" />
    <title>My Aplicación con Sockets</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <h1>Centro de Mensajes</h1>
        
        <div><input type="text" name="name" id="pepe"/><button onclick="sendData(this)">ENVIAR</button></div>
        
        
    <div id="messages"></div>
</body>

</html>